SITE=www.example.lan
DOPATH=/home/_Dockers/example.lan
EXPONC=8000
EXPOCO=8001
MYROOTPWD=rootPassword4MysqlDB
MYUSERPWD=Password4MysqlDBNextcloudUser
NCADMINPWD=Password4AdminNextcloudAccountUsefulOnlyDuringDeployment
