[api]
host = 192.168.1.1
port = 4444
username = apiuser
password = changeme
verify_ssl = false
# au moins une des deux clés group/iplist est requise (les deux possibles)
group = Fail2Ban-Block
# IPHost de type "IP list" déjà créé (onglet IP Host, type "IP list")
# iplist = Fail2Ban-List
# préfixe des noms IPHost créés par group (optionnel, défaut: f2b_)
prefix = f2b_
# jail fail2ban interrogée (requis pour ban/unban/sync)
jail = sshd
# chemin/nom du binaire fail2ban-client (optionnel, défaut: fail2ban-client)
# fail2ban_client = fail2ban-client
